/* Makeshift CSS Reset */
{
	margin: 0;
	padding: 0;
}

/* Tell the browser to render HTML 5 elements as block */
header, footer, aside, nav, article, section {
	display: block;
}

body {
	margin: 0 auto;
	width: 940px;
	font: 13px/22px Helvetica, Arial, sans-serif;
	background: #f0f0f0;
}

h2 {
	font-size: 28px;
	line-height: 44px;
	padding: 22px 0;
}

h3 {
	font-size: 18px;
	line-height: 15px;
	padding: 0 0;
}

p {
	padding-bottom: 22px;
}

nav {
	position: absolute;
	left: 0;
	width: 100%;
	background: url("/images/nav_background.png");
}

nav ul {
	margin: 0 auto;
	width: 940px;
	list-style: none;
}

nav ul li {
	float: left;
}

nav ul li a {
	display: block;
	margin-right: 20px;
	width: 140px;
	font-size: 14px;
	line-height: 44px;
	text-align: center;
	text-decoration: none;
	color: #777;
}

nav ul li a:hover {
	color: #fff;
}

nav ul li.selected a {
	color: #fff;
	text-shadow:0 0 8px #F0B81F;
}

#content {
	display: table;
}

#mainContent {
	display: table-cell;
	width: 620px;
	padding-right: 22px;
	padding-top: 60px;
	padding-bottom:25px;
}

#mainContent .item td {
	background-image:url("/images/sidebar_background.png");
	padding: 5px;
	width: 415px;
}

#mainContent .item td:hover {
	background: #dedede;
	background-image: none;
}

#intro {
	border-radius:22px 22px 22px 22px;
	-moz-border-radius:22px 22px 22px 22px;
	-webkit-border-radius:22px 22px 22px 22px;
	background:url("/images/intro.png") repeat-x scroll 0 0 #467612;
	border:1px solid black;
	margin-top:66px;
	padding:44px;
	height: 300px;
	position:relative;
	color: #fff;
	text-shadow: 1px 1px 2px black;
}

#intro .title {
	font-size: 34px;
}

#intro .detail {
	margin-left:20px;
	margin-top:8px;
	line-height:1.2em;
}

aside {
	background:url("/images/sidebar_background.png") repeat scroll left top transparent;
	display:table-cell;
	width:300px;
}

footer {
	position: absolute;
	left: 0;
	width: 100%;
	background: #222;
	color: white;
}

footer div {
	display: table;
	margin: 0 auto;
	padding: 44px 0;
	width: 940px;
	color: #777;
}
