Hello <%= @recipient %>,
	Thank you for registering with haikufire.com!

	Please follow this link to verify your account:
	http://haikufire.com/users/validate/dfghrdfytertfdhgfd43564e65trfdy

Thanks!
 -- kallisti5
