Hello <%= @recipient %>,
	Thank you for registering with haikufire.com!

	Please follow this link to verify your account:
	http://haikufire.com/users/validate/<%= @validation_hash %>

Thanks!
 -- kallisti5
