<% if @software != nil %>
<h3><%= @software.title %></h3>
<div class='description'>by <%= @software.author %> </div>
<%= debug(@software) %>
<% else %>
        <div class='alert'>
                        No items found with this name
        </div>
<% end %>
