<h3>About HaikuFire</h3>
<p>HaikuFire provides a reliable repository of applications which have been <u>developed for and or tested working</u> on the <a href='http://haiku-os.org'>Haiku</a> operating system. Remote URL's (homepages and remote downloads) are checked at random intravals to ensure they are functioning.</p>

<h3>Submissions</h3>
<p>We are now accepting application submissions.<br>If your application runs well on the Haiku Operating System, feel free to submit it. (logged in users only)</p>

<h3>Shameless plug</h3>
<p>HaikuFire is a <a href='http://unixzen.com' target='_BLANK'>UNIXZen</a> production. Please report large site bugs to kallisti5 at unixzen.com</p>

<h3>Credits</h3>
<ul><li>Thanks go out to <a href='http://www.fatcow.com/free-icons/' target='_BLANK'>FatCow</a> for their awesome creative commons icon set.</li></ul>

<h3>Disclaimer</h3>
<p>Haiku&trade; and the HAIKU logo&trade; are a trademarks of <a href='http://www.haiku-inc.org/' target='_BLANK'>Haiku, Inc.</a> and are developed by the <a href='http://haiku-os.org' target='_BLANK'>Haiku</a> Project.<br/>
HaikuFire has no official relation or ties to <A href='http://www.haiku-inc.org/' target='_BLANK'>Haiku, Inc</a>.</p>
