<h3>About HaikuFire</h3>
<p>HaikuFire provides a reliable repository of applications which have been <u>developed for and or tested working</u> on the <a href='http://haiku-os.org'>Haiku</a> operating system. We link to remote files and mirror some applications locally. Remote URL's (homepages and remote downloads) are checked at random intravals to ensure they are functioning. Currently HaikuFire has no relation to <A href='http://www.haiku-os.org/about/haiku_inc' target='_BLANK'>Haiku Inc.</a></p>

<h3>Submissions</h3>
<p>We are now accepting application submissions.<br>If your application runs well on the Haiku Operating System, feel free to submit it. (logged in users only)</p>

<h3>Shameless plug</h3>
<p>HaikuFire is a <a href='http://unixzen.com' target='_BLANK'>UNIXZen</a> production. Please report large site bugs to kallisti5 at unixzen.com</p>
