<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Throughout 
Description: A two-column, fixed-width design for 1024x768 screen resolutions.
Version    : 1.0
Released   : 20100423

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>HaikuFire: <%= controller.action_name %></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<script type="text/javascript" src="/jquery/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/jquery/jquery.slidertron-0.1.js"></script>
<%= stylesheet_link_tag 'site' %>
<%= stylesheet_link_tag 'slidertron' %>
</head>

<body>
<!-- end #header-wrapper -->
<div id="logo">
	<img src='/images/toplogo.png'>
</div>
<div id="header">
	<div id="menu">
		<ul>
			<li><a href="/" class="first">News</a></li>
			<li class="current_page_item"><a href="/category">Software</a></li>
			<li><a href="#">About</a></li>
		</ul>
	</div>
	<!-- end #menu -->
	<div id="search">
		<form method="get" action="">
			<fieldset>
				<input type="text" name="s" id="search-text" size="15" />
			</fieldset>
		</form>
	</div>
	<!-- end #search -->
</div>
<!-- end #header -->
<hr />
<!-- end #logo -->

<% if controller_name == "" %>
<div id="slideshow">
	<!-- start -->
	<div id="foobar">
		<div id="col1"><a href="#" class="previous">&nbsp;</a></div>
		<div id="col2">
			<div class="viewer">
				<div class="reel">
					<div class="slide"><img src="/images/theme/img04.jpg" width="726" height="335" alt="" /> <span>Lorem Ipsum Dolor Sit Amet.</span> </div>

					<div class="slide"><img src="/images/theme/img07.jpg" width="726" height="335" alt="" /> <span>Mauris vitae nisl nec metus placerat consectetuer.</span> </div>

					<div class="slide"><img src="/images/theme/img08.jpg" width="726" height="335" alt="" /> <span>Nam bibendum dadn nulla tortor elementum ipsum</span> </div>
				</div>
			</div>
		</div>
		<div id="col3"><a href="#" class="next">&nbsp;</a></div>
	</div>
	<script type="text/javascript">



						$('#foobar').slidertron({

							viewerSelector:			'.viewer',

							reelSelector:			'.viewer .reel',

							slidesSelector:			'.viewer .reel .slide',

							navPreviousSelector:	'.previous',

							navNextSelector:		'.next',

							navFirstSelector:		'.first',

							navLastSelector:		'.last'

						});

						

					</script>

	<!-- end -->

</div>

<% end %>

<div id="page">

	<div id="page-bgtop">

		<div id="content">
			<%= yield %>
		</div>

		<!-- end #content -->

		<div id="sidebar">

			<ul>

				<li>

					<h2>Donate</h2>

					<p><img src='/images/icons/donate.png' style='vertical-align:middle'>
					<%= link_to	"Donate to the Haiku project", "http://www.haiku-os.org/community/donating_to_haiku",
							:target=>"_blank" %></p>

				</li>

				<li>

					<h2>Pellenteque ornare </h2>

					<ul>

						<li><a href="#">Nec metus sed donec</a></li>

						<li><a href="#">Magna lacus bibendum mauris</a></li>

						<li><a href="#">Velit semper nisi molestie</a></li>

						<li><a href="#">Eget tempor eget nonummy</a></li>

						<li><a href="#">Nec metus sed donec</a></li>

						<li><a href="#">Velit semper nisi molestie</a></li>

						<li><a href="#">Eget tempor eget nonummy</a></li>

						<li><a href="#">Nec metus sed donec</a></li>

					</ul>

				</li>

				<li>

					<h2>Turpis nulla</h2>

					<ul>

						<li><a href="#">Nec metus sed donec</a></li>

						<li><a href="#">Magna lacus bibendum mauris</a></li>

						<li><a href="#">Velit semper nisi molestie</a></li>

						<li><a href="#">Eget tempor eget nonummy</a></li>

						<li><a href="#">Nec metus sed donec</a></li>

						<li><a href="#">Nec metus sed donec</a></li>

						<li><a href="#">Magna lacus bibendum mauris</a></li>

						<li><a href="#">Velit semper nisi molestie</a></li>

						<li><a href="#">Eget tempor eget nonummy</a></li>

						<li><a href="#">Nec metus sed donec</a></li>

					</ul>

				</li>

			</ul>

		</div>

		<!-- end #sidebar -->

		<div style="clear: both;">&nbsp;</div>

	</div>

	<!-- end #page -->

</div>

<div id="footer">

	<p>Copyright (c) 2008 Sitename.com. All rights reserved. Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>

</div>

<!-- end #footer -->

</body>

</html>
