<!doctype html>
<html>
<head>
	<title>HaikuFire: <%= controller.action_name %></title>
	<%= stylesheet_link_tag 'site' %>
	<link rel="shortcut icon" href="/favicon.png" />
</head>
<body>
	<header>
		<%= image_tag "/images/toplogo.png" %>
	</header>
	<nav>
		<ul> 
			<li <%= "class='selected'" if controller_name=="news" %>><a href="/news">News</a></li> 
			<li <%= "class='selected'" if controller_name=="category" %>><a href="/category">Software</a></li> 
			<li <%= "class='selected'" if controller_name=="about" %>><a href="/about">About</a></li> 
		</ul> 
	</nav>

	<% if controller_name == "news" %>
	<section id="intro">
		<div class='title'>HaikuFire</div>
		<div class='detail'>A software repository for the<br/>high-performance Haiku operating system.</div>
	</section>
	<% end %>

	<div id="content"> 
		<div id="mainContent"> 
	<section>
		<!-- Main content area -->
		<%= yield %>
	</section>
		</div>

	<aside>
		<div id='sideblock' class='donate'>
		<%= image_tag "/images/icons/donate.png" %>
		<a href='http://www.haiku-os.org/community/donating_to_haiku' target='_blank'>Donate to the Haiku project</a>
		</div>

		<div id='sideblock'>
		<%= image_tag "/images/icons/new.png" %> Recent software additions</br>
		<ul>
		<li>Tommy in internet land</li>
		<li>Internets are us</li>
		<li>Data input express</li>
		</ul>
		</div>
		
		<!-- Sidebar -->
	</aside>

	</div>

	<footer>
		<!-- Footer -->
		<div>Copyright, 2010 thatguy</div>
	</footer>

</body>
</html>
