<!doctype html>
<html>
<head>
	<title>HaikuFire: <%= controller.action_name %></title>
	<%= stylesheet_link_tag 'site' %>
	<link rel="shortcut icon" href="/favicon.png" />
</head>
<body>
	<header>
		<%= image_tag "/images/toplogo.png" %>
		<div style='float: right;'>
		<% if !session[:user_id] %>
		Welcome Anonymous user! | <%= link_to "Login", :login %>
		<% else %>
		Welcome back <%= link_to session[:user_id], "/users/profile/#{session[:user_id]}"%> | <%= link_to "Logout", :logout %>
		<% end %>
		</div>
		
	</header>
	<nav>
		<ul> 
			<li <%= "class='selected'" if controller_name=="news" %>><a href="/news">News</a></li> 
			<li <%= "class='selected'" if controller_name=="category" || controller_name=="software" %>><a href="/category">Software</a></li> 
			<li <%= "class='selected'" if controller_name=="about" %>><a href="/about">About</a></li> 
		</ul> 
	</nav>

	<% if controller_name == "news" %>
	<section id="intro">
		<div class='title'>HaikuFire</div>
		<div class='detail'>A software repository for the<br/>high-performance Haiku operating system.</div>
	</section>
	<% end %>

	<div id="content"> 
		<div id="mainContent"> 
	<section>
		<% if flash[:notice] %>
		<div id='errorExplanation'>
		<%= flash[:notice] %>
		</div>
		<% end %>

		<!-- Main content area -->
		<%= yield %>
	</section>
		</div>

	<aside>
		<div id='sideblock' class='block-box'>
			
		<%= image_tag "/images/icons/donate.png" %>
		<a href='http://www.haiku-os.org/community/donating_to_haiku' target='_blank'>Donate to the Haiku project</a>
		</div>

		<div id='sideblock' class='block-box'>
		<%= image_tag "/images/icons/new.png" %> Recent software updates</br>
		<ul>
		<% $softwares = pull_recent_software() %>
		<% $softwares.each do |software|%>
			<li><%= link_to software.title, "/software/show/#{software.title}" %> <span style='font-size: 10px;'>
			<%= "#{Date::ABBR_MONTHNAMES[software.updated.month]} #{software.updated.day}" %></li>
		<% end %>
		</ul>
		</div>
		
		<!-- Sidebar -->
	</aside>

	</div>

	<footer>
		<div><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/us/80x15.png" /></a><br/><span xmlns:dc="http://purl.org/dc/elements/1.1/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dc:title" rel="dc:type">HaikuFire website</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://unixzen.com" property="cc:attributionName" rel="cc:attributionURL">Alexander von Gluck</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 United States License</a>.</div>
	</footer>

</body>
</html>
